.header{
    margin-top: 0px;
    display: flex; 
    justify-content: center;
    margin-left: 5%;
    width: 100%;
}

.headerTitles{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fffbee;
}

.headerTitleSm{
    position: relative;
    top: 20%;
    font-size: 1.5em;
}

.headerTitleLg{
    position: relative;
    top: 20%;
    font-size: 4em;
    margin-bottom: 1em;
}

.headerTextSm{
    flex: 3;
    font-size: 1.5em;
}

.headerTextLg{
    flex: 1;
    font-size: 1.5em;

}

.headerText{
    display: flex;
    position: relative;
    top: 30%;
}

.headerImgContainer{
    flex: 1;
    position: relative;
    margin: 5%;
}

.headerImg{
    border-radius: 7%;
    max-height: 100%;
    max-width: 100%;
}

@media (max-width: 1500px) {
    .header {
        flex-direction: column;    
    }

    .headerText{
        flex-direction: column;
    }

    .headerImgContainer{
        margin: 10%;
    }

}